.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 204, 0.1);
}
img {
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  margin: 10px 0;
  display: block;
}
ul,
ol {
  padding-left: 20px;
  margin-top: 10px;
}

li {
  margin-bottom: 10px;
}
.button {
  display: inline-block;
  background-color: #e0af34;
  color: #fff;
  padding: 10px 15px;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.3s;
}
.button:hover {
  background-color: #c4951d;
}
